@font-face {
	font-family: "iconfont";
	src: url('@/static/iconfont/iconfont.ttf?t=1763082427771') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	/* #ifdef WEB || MP */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* #endif */
}

.icon-hover-bg {
	background-color: #e7e7e7;
}

/* 状态栏占位 */
.status-bar {
	height: var(--status-bar-height);
	width: 100%;
}

.safe-area-inset-bottom {
	padding-bottom: var(--uni-safe-area-inset-bottom);
}

/* 通用两侧间距 */
.uni-padding-wrap {
	padding: 0 15px;
}

.uni-common-mb {
	margin-bottom: 15px;
}

.uni-common-pb {
	padding-bottom: 15px;
}

.uni-common-pl {
	padding-left: 15px;
}

.uni-common-mt {
	margin-top: 15px;
}

.uni-common-mr {
	margin-right: 15px;
}

.uni-flex {
	/* #ifdef WEB || MP */
	display: flex;
	/* #endif */
	flex-direction: row;
}

.uni-flex-item {
	flex: 1;
}

.uni-row {
	flex-direction: row;
}

.uni-column {
	flex-direction: column;
}

.uni-bg-red {
	background: #F76260;
}

.uni-bg-green {
	background: #09BB07;
}

.uni-bg-blue {
	background: #007AFF;
}

.uni-list {
  background-color: var(--list-background-color,#ffffff);
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c8c7cc;
}

.uni-list-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.uni-list-cell-padding {
  padding: 10px 15px;
}

.uni-list-cell-line {
  border-bottom: 1px solid var(--border-color, rgba(0, 0, 0, .06));
}

.uni-list-cell-hover {
  background-color: var(--active-background-color,#f8f8f8);
}

.uni-list-cell-pd {
  padding: 11px 15px 11px 0;
}

.uni-list-cell-left {
  padding: 0 15px 0 10px;
}

.uni-list-cell-db,
.uni-list-cell-right {
  flex: 1;
}

.uni-list-cell-db-text {
  width: 100%;
  /* #ifdef WEB || MP */
  word-break: break-all;
  /* #endif */
}

.uni-input {
	height: 25px;
	padding: 8px 13px;
	/* line-height: 25px; */
	font-size: 14px;
	background: var(--list-background-color, #ffffff);
	flex: 1;
	box-sizing: content-box;
}

.uni-btn {
	margin-top: 10px;
}

.uni-link {
	color: #576B95;
	font-size: 13px;
}

.uni-center {
	flex-direction: row;
	justify-content: center;
}

.uni-textarea {
	padding: 9px;
	line-height: 1.6;
	font-size: 14px;
}

.uni-container {
	padding: 15px;
	background-color: var(--background-color, #f8f8f8);
}

.uni-header-logo {
	padding: 15px 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.uni-header-image {
	width: 80px;
	height: 80px;
}

.uni-navigate-item {
	flex-direction: row;
	align-items: center;
	background-color: var(--list-background-color);
	border-top-style: solid;
	border-top-color: #f0f0f0;
	border-top-width: 1px;
	padding: 12px;
	justify-content: space-between;
	/* #ifdef WEB */
	cursor: pointer;
	/* #endif */
}

.uni-navigate-text {
	color: var(--text-color);
	font-size: 14px;
	font-weight: normal;
}

.is--active {
	background-color: var(--active-background-color);
}

/* left-windows */
.left-win-active {
	color: #007AFF !important;
}

/* web端适配暗黑主题 */
/* #ifdef WEB */
@media (prefers-color-scheme: dark) {

	body,
	uni-page-body {
		color: rgba(0, 0, 0, 0.9);
	}

	.uni-top-window .tab-bar-flex :deep(.uni-tabbar) {
		background-color: #2d2d2d !important;
	}

	/* 设置滚动条整体宽度和背景色 */
	::-webkit-scrollbar {
		width: 8px;
		background: #464646;
	}

	/* 设置滚动条滑块颜色 */
	::-webkit-scrollbar-thumb {
		background: #aaaaaa;
		border-radius: 4px;
	}

	/* 鼠标悬停在滑块上时的颜色 */
	::-webkit-scrollbar-thumb:hover {
		background: #818181;
	}

	/* 滚动条轨道颜色 */
	::-webkit-scrollbar-track {
		background: #464646;
		border-radius: 4px;
	}

}
/* #endif */


/* #ifdef MP */
page {
	color: rgba(0, 0, 0, 0.9);
}
/* #endif */


/* 动态组件切换动画， 模拟页面切换 */
.component-container {
	position: relative;
	flex: 1;
	display: flex;
}

.component-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
}
	
/* 1. enter-from-class：新组件从右侧 (100%) 开始 */
.forward-enter-from {
	transform: translateX(100%);
}
/* 2. enter-to-class：新组件最终停在正常位置 (0)，这也是 transition 动画的目标 */
.forward-enter-to {
	transform: translateX(0);
}
/* 3. leave-active-class：旧组件离开动画过程 (向左侧推出) */
.forward-leave-active {
	transform: translateX(-30%);
}
/* ------------------- 【后退】动画 (backward: 左侧出栈) ------------------- */
/* 1. enter-from-class：新组件从左侧 (-100%) 开始 */
.backward-enter-from {
	transform: translateX(-100%);
}
/* 2. enter-to-class：新组件最终停在正常位置 (0) */
.backward-enter-to {
	transform: translateX(0);
}
/* 3. leave-active-class：旧组件离开动画过程 (向右侧推出) */
.backward-leave-active {
	transform: translateX(30%);
}